{% extends 'base_layout.html' %}

{% load static from staticfiles %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}

<div class="home">

    <div class="fixed-bg intro-background">
        <img src="{% static 'logo-horizontal.png' %}" class="gambar-logo" />
        <div class="subtitle">
            Best place to bid.
        </div>
    </div>

    <div class="fixed-bg">
        <div class="kasihjarak"></div>
        <div class="sort">
            <div class="flex-row">
                <form id="sortbutton" action="{% url 'home:home' %}" method="POST">
                    {% csrf_token %}
                    {{ form.as_table }}
                    <button class="sort-button" type="submit" value="sort">Sort</button>
                </form>
            </div>
        </div>
        {% if seller.count %}
        <div class="flex-wrap">
            {% for item in seller %}
            <div class="card-barang">
                <img src="{{ item.image.url }}" width="230" height="180" class="gambar" />
                <h2><a href="{% url 'description:desc' id=item.id title=item.title %}">{{ item.title }}</a></h2>
                <h3>${{ item.price }}</h3>
                <div class="item-status">
                    {{item.status}}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="lastsort">
            <i>Last sorted by <b>{{last.sort_by_choice}}</b> order at <b>{{last.lastSort}}</b></i>
        </div>
        {% else %}
        <div class="belom-ada">
            Place your first items here!
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}