{% extends 'base_layout.html' %}

{% load static from staticfiles %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/description.css' %}">
{% endblock %}

{% block content %}

<h1 class="center start">{{ item.title }}</h1>
<div class="flex-pc item">
    <div class="itemdiv">
        <img src="{{ item.image.url }}" alt="" id="itemimg"/>
    </div>    
    <div class="itemdiv">
        <p class="center">This Auction Ends in:</p>
        <p class="center" id="specialtxt">{{ countdown }}</p>
        <p class="center">{{ curorlast }} Price: <span id="specialtxt">${{ lastprice }}</span></p>
        <a href="{% url 'CustomerForm:bid' id=item.id %}" class="btn btn-place-bid" id="placebid" onclick="{{ oc }}">Place Bid</a>
    </div>
</div>

<div id="infodiv"> 
    <h3>Information</h3>
    <div id="infodivborder">
    <div class="center flex-pc">
        <div class="infoheaderdiv infoactive" onclick=infoOn(id) id="auctxt">Auction Details</div>
        <div class="infoheaderdiv" onclick=infoOn(id) id="paytxt">Payment</div>
        <div class="infoheaderdiv" onclick=infoOn(id) id="itemdesctxt">Item Description</div>
        <div class="infoheaderdiv" onclick=infoOn(id) id="additxt">Additionals</div>
    </div>
    <div><p id="infocontent">
        Starting Bid: ${{ item.starting_price }}<br>
        Current Bid: ${{ lastbid }} <br>
        Start Date: {{ item.start_date }}<br>
        End Date: {{ item.end_date }}<br>
        Bid Count: {{ bidcount }}
        </p></div>
    </div>

    <div id="qnamar">
    <h3>QnA</h3>
    <form class="flex-pc" method="POST" action="{% url 'description:ask' id=item.id %}">
        {% csrf_token %}
        {{ qnform }}
    <button type="submit" class="btn btn-submit">Submit</button>
    </form>
    <div id="qna">
        {% if item.questions.all.count %}
        {% for q in item.questions.all %}
        <p class="qnaheader">Q: {{q}}</p>
        <p class="timetxt">{{q.time}}</p>
        <p class="replytxt" id="replytxt {{q.id}}" onclick=displayForm({{q.id}})>Reply</p>
        <div style="filter:opacity(0%)" class="ansform" id="ansform {{ q.id }}"> 
            <form class='flex' method='POST' action="{% url 'description:ans' id=q.id item_id=q.item_id %}">
                {% csrf_token %}
                {{ ansform }}
            <button type="submit" class='btn btn-submit'>Submit</button>
            </form>
        </div>

        {% for a in q.answers.all %}
        <p class="qnaheader">A: {{a}}</p>
        <p class="timetxt">{{a.time}}</p>
        {% endfor %}

        {% endfor %}

        {% else %}
        <p>Ask us anything!</p>
        {% endif %} 
    </div>
    </div>
</div>

<script>
    function infoOn(id) {
        document.getElementsByClassName("infoactive")[0].className = "infoheaderdiv";
        document.getElementById(id).className = "infoheaderdiv infoactive";
        var info = document.getElementById("infocontent");
        info.className = "infocontentblue";
        if (id == "auctxt") {
            info.innerHTML = "Starting Bid: ${{ item.starting_price }}<br>Current Bid: ${{ lastbid }}<br>Start Date: {{ item.start_date }}<br>End Date: {{ item.end_date }}<br>Bid Count: {{ bidcount }}";
            info.className = "";
        } else if (id == "paytxt") {
            info.innerHTML = "No data regarding payment methods.";
        } else if (id == "itemdesctxt") {
            info.innerHTML = "{{ item.description }}";
            info.className = "";
        } else if (id == "additxt") {
            info.innerHTML = "No additional data";
        }
    }

    function displayForm(id) {
        document.getElementById("ansform " +id).style = "filter:opacity(100%)";
        document.getElementById("replytxt "+id).innerHTML = "";
    }
</script>

{% endblock %}