{% extends 'base_layout.html' %}

{% load static from staticfiles %}
{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
	crossorigin="anonymous"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/buyer.css' %}">
{% endblock %}

{% block content %}
<div class="containerr">
    <h1 align="center"style="font-family:livvic">Please Fill Out This Information</h1>
  <div class="container"style="font-family:livvic">
    <form action="{% url 'CustomerForm:place_bid' id=item.id %}" method="post">
      {% csrf_token %} {% for fields in form %}
      <div class="form-group row">
        <label class="col-sm-2 col-form-label mr-2"> {{ fields.label_tag }}</label>
        <div class="col-sm-6">
          {{ fields }}
        </div>
      </div>
      {% endfor %}
      <div class="form-group row">
        <div class="offset-xs-3 col-xs-9">
          <button class="btn btn-place-bid">Place Bid</button></a>
		</div>
      </div>
    </form>
  </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  
    {% endblock %}
