@font-face {
    font-family: "Aleyna";
    src: url("fonts/aleyna-webfont.eot");
    src:
    url("fonts/aleyna-webfont.woff") format("woff"),
    url("fonts/aleyna-webfont.otf") format("opentype"),
    url("fonts/aleyna-webfont.svg#filename") format("svg");
}

/* Navbar */
@media only screen and (min-width: 992px) {
    nav { height: 10%; }
}

.navbar-color {
background-color: #0a0057;
fill: #0a0057;
}

.fixed-top {
position: fixed !important;
top: 0;
right: 0;
left: 0;
z-index: 1030;
}

.listlink {
color: #ffffff;
text-align: center;
padding: 30px 30px 30px 30px;
font-size: 20px;
font-family: "Livvic";
}

a:link {
text-decoration: none;
}

a:visited {
text-decoration: none;
}

.navbar a:hover {
text-decoration: overline #e8eefe ;
font-weight: bold;
}

.ml-auto,
.mx-auto {
margin-left: auto !important;
}

#logoimg {
float: left;
margin: 0px 0px 0px 2vw;
width: 55px;
height: 55px;
}

/* BootStrap */
.collapse:not(.show) {
display: none;
}

.navbar {
position: relative;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
-ms-flex-align: center;
align-items: center;
-ms-flex-pack: justify;
justify-content: space-between;
}


.navbar-brand {
display: inline-block;
padding-top: 0.3125rem;
padding-bottom: 0.3125rem;
margin-right: 1rem;
font-size: 1.25rem;
line-height: inherit;
white-space: nowrap;
}

.navbar-brand:hover, .navbar-brand:focus {
text-decoration: none;
}

.navbar-nav {
display: -ms-flexbox;
display: flex;
-ms-flex-direction: column;
flex-direction: column;
padding-left: 0;
margin-bottom: 0;
list-style: none;
}

.navbar-nav .dropdown-menu {
position: static;
float: none;
}

.navbar-collapse {
-ms-flex-preferred-size: 100%;
flex-basis: 100%;
-ms-flex-positive: 1;
flex-grow: 1;
-ms-flex-align: center;
align-items: center;
}

.navbar-toggler {
padding: 0.25rem 0.75rem;
font-size: 1.25rem;
line-height: 1;
background-color: transparent;
border: 1px solid transparent;
border-radius: 0.25rem;
}

.navbar-toggler:hover, .navbar-toggler:focus {
text-decoration: none;
}

.navbar-toggler-icon {
display: inline-block;
width: 1.5em;
height: 1.5em;
vertical-align: middle;
content: "";
background: no-repeat center center;
background-size: 100% 100%;
}


@media (min-width: 576px) {
.navbar-expand-sm {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.navbar-expand-sm .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
}
.navbar-expand-sm .navbar-nav .dropdown-menu {
    position: absolute;
}

.navbar-expand-sm > .container,
.navbar-expand-sm > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.navbar-expand-sm .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}
.navbar-expand-sm .navbar-toggler {
    display: none;
}
}

@media (max-width: 767.98px) {
.navbar-expand-md > .container,
.navbar-expand-md > .container-fluid {
    padding-right: 0;
    padding-left: 0;
}
}

@media (min-width: 768px) {
.navbar-expand-md {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.navbar-expand-md .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
}
.navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
}

.navbar-expand-md > .container,
.navbar-expand-md > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.navbar-expand-md .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}
.navbar-expand-md .navbar-toggler {
    display: none;
}
}

@media (max-width: 991.98px) {
.navbar-expand-lg > .container,
.navbar-expand-lg > .container-fluid {
    padding-right: 0;
    padding-left: 0;
}
}

@media (min-width: 992px) {
.navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
}

.navbar-expand-lg > .container,
.navbar-expand-lg > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}
.navbar-expand-lg .navbar-toggler {
    display: none;
}
}


.navbar-expand {
-ms-flex-flow: row nowrap;
flex-flow: row nowrap;
-ms-flex-pack: start;
justify-content: flex-start;
}

.navbar-expand > .container,
.navbar-expand > .container-fluid {
padding-right: 0;
padding-left: 0;
}

.navbar-expand .navbar-nav {
-ms-flex-direction: row;
flex-direction: row;
}

.navbar-expand .navbar-nav .dropdown-menu {
position: absolute;
}


.navbar-expand > .container,
.navbar-expand > .container-fluid {
-ms-flex-wrap: nowrap;
flex-wrap: nowrap;
}

.navbar-expand .navbar-collapse {
display: -ms-flexbox !important;
display: flex !important;
-ms-flex-preferred-size: auto;
flex-basis: auto;
}

.navbar-expand .navbar-toggler {
display: none;
}

.navbar-light .navbar-brand {
color: white;
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
color: white;
}

.navbar-light .navbar-toggler {
color: white;
border-color: white;
}

.navbar-light .navbar-toggler-icon {
background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/*Media Query */
@media only screen and (max-width: 992px) {
    .listlink {
        text-align: right;
        margin: 0px;
        padding: 7px 3vw 0px 0px;
        font-size: 20px;
      }
    
}

  @media only screen and (max-width: 500px) {
    .listlink { font-size: 15px; }
  }
