/*Content*/
* {
  font-family: "Livvic";
}

html, body {
  margin: 0;
}
body {
  height: 100%;
}
.home {
    margin-top: 4.5%;
}

.card-barang {
  width: 350px;
  height: 450px;
  background-color: #9ecdff;
  margin: 15px;
  border-radius: 50px;
  text-align: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.sort-button {
  width: 50px;
  height: 20px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #0a0057;
  text-align: center;
  line-height: 20px;
}

.sort {
  margin-left: 10%;
  margin-bottom: 3%;
}

.lastsort {
  text-align: center;
  justify-content: center;
  margin-top: 3%;
}

button.sort-button {
  width: 50px;
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #0a0057;
  text-align: center;
  line-height: 30px;
}

img.gambar {
  margin-top: 10%;
  /*max-width: 300px;
  max-height: 380px;*/
}

h2 a {
  color: black;
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

.belom-ada {
  text-align: center;
  font-size: 30px;
  margin-top: 4%;
}

.title {
  color: #e8eefe;
}

.subtitle {
  font-size: 50px;
  margin: 10px 0px 0px 0px;
  padding: 0;
  color: #e8eefe;
  font-family: "Aleyna", "Livvic";
}

.intro-background {
  height: 15rem;
  text-align: center;
  background: linear-gradient(to right, #4568dc, #b06ab3);
  /*background: linear-gradient(to right, #0575e6, #021b79); */
  padding-top: 8%;
  margin: 0 auto;
  /*background-attachment: fixed;*/
}

.fixed-bg {
  background-attachment: fixed !important;
  background-position: center !important; 
  background-repeat: no-repeat !important;
  background-size: cover !important;
  position: relative !important;
}

.kasihjarak {
  margin: 40px;
}

img.gambar-logo {
  max-width: 230px;
  margin: 0;
  padding: 0;
}

.item-status {
  font-size: 14px;
  font-weight: bold;
  color: black;
}

@media screen and (max-width: 600px) {
  h2 a {
    font-size: 23px;
  }

  h2 {
    font-size: 20px;
  }

  .belom-ada {
    font-size: 20px;
    margin-top: 25%;
  }

  h3 {
    font-size: 18px;
  }

  .card-barang {
    width: 250px;
    height: 350px;
  }

  img.gambar {
    max-width: 220px;
  }

  .sort {
    font-size: 15px;
  }

  .lastsort {
    font-size: 15px;
  }

  .title {
    font-size: 30px;
  }

  .subtitle {
    font-size: 35px;
  }

  .intro-background {
    height: 9rem;
    text-align: center;
    padding-top: 27%;
    margin: 0 auto;
  }

  img.gambar-logo {
    max-width: 150px;
  }
}