{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="KE13 PPW Project: Frauction">
    <meta name="keywords" content="HTML,CSS">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Livvic&display=swap" rel="stylesheet">
    {% block css %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <title>{{ title }}</title>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light navbar-color">
        <a class="navbar-brand" href="{% url 'home:home' %}"><img src="{% static 'frauction-logo.png' %}" alt="Frauction logo" id="logoimg"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarFrauction" aria-controls="navbarFrauction" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarFrauction">
            <div class="navbar-nav ml-auto">
                <a class="listlink" href="{% url 'home:home' %}">Home</a>
                <a class="listlink" href="{{ navlink }}">Want to {{ sellorbuy }}?</a>
            </div> 
        </div>
    </nav>

	{% block content %}
    {% endblock %}
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>  
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>
